#tagline {
    color: white;
    font-family: "Over the Rainbow","Trebuchet MS",Lucida Grande,sans-serif;
    font-size: 30px;
    text-align: center;
    padding-top: 40px;
    text-shadow: 2px 2px 0 #000;
}

